@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined");
@import "reset";

$color-primary:#285a91;
$color-secondary:#1f9cfd;
$color-white:#fff;
$color-blue-1:#a8d8ff;
$color-blue-2:#c1e1ff;
$color-blue-3:#d6eaff;
$color-grey-ligth:#b9b9b9;
$color-grey-dark:#474747;



.nav{
    &-checkbox{display: none;}
    &-button{
        width: 7rem;
        height: 6rem;
        position: fixed;
        top: 7rem;
        right: 8rem;
        background: #c4e3ff;
        cursor: pointer;
        border-radius: 2px;
        box-shadow: 0 1rem 1rem rgba(#000, .1);
        text-align: center;
        z-index: 2000;
    }
    &-icon{
        position: relative;
        margin-top: 3rem;
        &::before{top:-.8rem}
        &::after{top:.8rem}
        &::before, &::after{
            content:"";
            position: absolute;
            left: 0;
            transition: .2s;
        }
        &, &::before, &::after{
            width: 3rem;
            height: 2px;
            background: #333;
            display: inline-block;
        }
    }
    &-button:hover &-icon::before{top:-1rem;}
    &-button:hover &-icon::after{top:1rem;}
    &-bg{
        width:7rem;
        height: 6rem;
        position: fixed;
        top: 7rem;
        right: 8rem;
        z-index: 1000;
        border-radius: 2px;
        transition: .8s;
        background-image: radial-gradient($color-primary, $color-secondary);
    }
    &-checkbox:checked ~ &-bg{
        transform:scale(80);
    }
    &-checkbox:checked ~ &-button &-icon{background: transparent;}
    &-checkbox:checked ~ &-button &-icon::before{top:0; transform: rotate(135deg);}
    &-checkbox:checked ~ &-button &-icon::after{top:0;transform: rotate(-135deg);}
    &-body{
        position: fixed;
        top:0;
        left: -120%;
        width: 100vw;
        height: 100vh;
        z-index: 1500;
        transition: .8s;
        opacity: 0;

    }
    &-list{
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        text-align: center;
        position: absolute;
    }
    &-link{
        display: inline-block;
        font-size: 3rem;
        font-weight: bold;
        color:$color-white;
        text-decoration: none;
        padding: 1rem 2rem;
        text-transform: uppercase;
        transition: .4s;
        background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%);
        background-size: 220%;
        &:hover{
            color:$color-primary;
            background-position: 100%;
            transform: translateX(1rem);
        }
    }
    &-checkbox:checked ~ &-body{opacity: 1; left: 0}
}

header{
    width: 100%;
    height: 90vh;
    background-image: linear-gradient(to right, $color-primary 0%, $color-secondary 100%), url(../img/header-image.jpg);
    background-blend-mode: multiply;
    background-size: cover;
    position: relative;
    #logo-text{
        position: absolute;
        left: 7rem;
        top: 4rem;
        font-size: 5.6rem;
        text-transform: uppercase;
        color: $color-white;
        animation: logoani 1s 2s 5 alternate;
        
    }
    
    #header-text{
        position: absolute;
        left: 7rem;
        bottom: 23%;
        color: $color-white;
        font-weight: bold;

        &-main{
            font-size: 7.2rem;
            line-height: 7.2rem;
            margin-bottom: 10px;
            animation: headerani 1s 1s backwards;
            width: 100%;
            transition: .3s;
        }
        &-sub{
            font-size: 2.4rem;
            line-height: 3rem;
            animation: logoani 1s 5 1.5s backwards;
        }
    }
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 100,
  'wght' 700,
  'GRAD' 0,
  'opsz' 24
}

h2{
   font-size: 2.4rem;
   font-weight: 800;
   text-transform: uppercase;
   color: $color-secondary;
   transition: .5s;
    &:hover{
        padding-left: 1.5rem;
    }
}
h3{
    font-size: 1.6rem;
    color: $color-grey-dark;
    font-weight: 700;
    padding: .5rem 0;
    text-transform: uppercase;
}
main{
    display: flex;
    flex-wrap: wrap;
    #section-about{
        width: 66.666%;
        background-color: #ededed;
        padding: 7rem 6.5rem 6rem;
        min-height: 42rem;
        box-sizing: border-box;
        @include mq('small-screen-1'){
            width: 100%;
        } 
        @include mq('small-screen-2'){
            width: 100%;
            height: 54rem;
            padding: 7rem 6rem 6.5rem;
        } 
        @include mq('small-screen-3'){
            width: 100%;
            height: 60rem;
            padding: 7rem 6rem 6.5rem;
        } 
       
        .about-wrap{
            display: flex;
            flex-wrap: wrap;
            margin-top: 20px;
            #section-about-words{
                width: 65%;
                padding: 2rem 2rem 0 0;
                box-sizing: border-box;
                @include mq('small-screen-2'){
                    width: 100%
                }
                @include mq('small-screen-3'){
                    width: 100%
                }
                p{
                    padding: 1.5rem 0;
                    font-size: 1.4rem;
                    text-align: justify;
                    font-weight: 700;
                } 
                .btn-text{
                    font-size: 1.5rem;
                    margin-right: 5px;
                    display: inline-block;
                    padding: 5px 10px;
                    &:hover{
                        background: $color-secondary;
                        color: $color-white;

                    }
                }
             }
             #section-about-photo{
                width: 35%;
                position: relative;
                @include mq('small-screen-2'){
                    width: 100%;
                }
                @include mq('small-screen-3'){
                    width: 100%;
                }
                 .photo{
                    position: absolute;
                    width: 18rem;
                    height: 12rem;
                    transition: .5s;
                    @include mq('small-screen-2'){
                       top:3rem !important;
                       left: 50% !important;
                       
                    }
                    @include mq('small-screen-3'){
                        top:3rem !important;
                        left: 50% !important;
                    }
                    &:hover{
                        padding: 1rem;
                        border: 3px solid $color-primary;
                        z-index: 10;
                        transform: scale(1.1);
                    }
                    &:nth-child(1){
                        left: 1rem;
                        top: 3rem;
                            @include mq('small-screen-2'){
                            transform: translateX(-120%);
                           }
                           @include mq('small-screen-3'){
                            transform: translateX(-120%);
                           }
                    }
                    &:nth-child(2){
                        left:6rem;
                        top: 10rem;
                    }
                     img{
                        width: 100%;
                        height: 100%;
                     }
                 }
             }
        }
        
    }
    #section-etc{
        width: 33.334%;
        @include mq('small-screen-1'){
            width: 100%;
        }
        @include mq('small-screen-2'){
            width: 100%;
        }
        @include mq('small-screen-3'){
            width: 100%;
        }
        [id^="etc-"]{
            height: 14rem;
            overflow: hidden;
        }

        .etc{
            @include mq('small-screen-1'){
                width: 33.333%;
                float: left;
                height: 20rem;
            }
            @include mq('small-screen-2'){
                width: 33.333%;
                float: left;
                height: 25rem;
            }
            &:nth-child(1){background-color: $color-blue-1;}
            &:nth-child(2){background-color: $color-blue-2;}
            &:nth-child(3){background-color: $color-blue-3;}
            .etc-icon{
                width: 30%;
                float: left;
                text-align: center;
                padding-top: 3.5rem;
                span{font-size: 6rem;}
            }
            .etc-text{
                padding-top: 1rem;
                width: 70%;
                float: left;
                p{
                    padding-right: 3.5rem;
                    text-align: justify;
                    font-size: 1.4rem;
                    margin: .5rem 0;
                }
            }
        }
    }
    
}
footer{
    background-color: $color-grey-dark;
    color: $color-grey-ligth;
    padding: 6rem 2rem 3rem 7rem;
    @include clearfix();
    #logo-text-footer{
        float: left;
        width: 25%;
        font-size: 4rem;
        text-transform: uppercase;
        @include mq('small-screen-3'){
            width: 20%;
            margin-right: 6rem;
        }
    }
    #copyright{
        float: left;
        width: 75%;
        font-size: 1.2rem;
        @include mq('small-screen-3'){
            width: 100%;

        }
        p{
            &:nth-child(2){
                margin-top: 7px;
            }
        }
        
    }
}


@keyframes logoani {
    0%{opacity: .1; transform: translateX(-8rem);}
    80%{transform: translateX(1rem);}
    100%{opacity: 1; transform: translateX(0);}
}
@keyframes headerani {
    0%{opacity: .1; transform: translateX(10rem);}
    80%{transform: translateX(-1rem);}
    100%{opacity: 1; transform: translateX(0);}
}